a {
    text-decoration: none !important;
    transition: 0.4s;
}

header {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    transition: 0.4s;
}

.HeaderContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HdLogo {
    max-width: 130px;
}

.HdRightFlex {
    display: flex;
    justify-content: end;
    align-items: center;
}

.HdRightFlex ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.HdRightFlex ul li a {
    display: block;
    padding: 40px 20px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    position: relative;
    line-height: 1;
    font-size: 15px;
    border: 2px solid transparent;
}

.HdRightFlex ul li a.getaQuote {
    background-color: #3F8BBC;
    padding: 10px 25px !important;
    border-radius: 30px;
    margin-left: 30px;

}

.HdRightFlex ul li a.getaQuote:hover {
    border: 2px solid #fff;
    background-color: #000;
}

.HdRightFlex ul li a.getaQuote:after {
    content: none !important;
}

.HdRightFlex ul li a:hover::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    bottom: 0;
    position: absolute;
}

.MenuIcon {
    cursor: pointer;
    margin-left: 45px;
}

.MenuIcon svg {
    width: 35px;
    height: 35px;
}

.pd-common {
    padding: 60px 0px;
}

footer {
    background-color: #000;
    color: #fff;
}

.FotterT1 {
    font-size: 20px;
    text-transform: uppercase;
    border-left: 3px solid #3F8BBC;
    padding: 10px;
    padding-left: 10px;
    font-weight: 600;
    padding-left: 30px;
    margin-bottom: 30px;
}

.FotterT2 {
    line-height: 1.6;
    margin-bottom: 20px;
}

.Newsletter {
    position: relative;
}

.Newsletter form input {
    width: 100%;
    background-color: #707070;
    padding: 15px;
    color: #fff;
}

.Newsletter form button {
    position: absolute;
    top: 2px;
    right: 0;
    border: 0px solid #e4e4e4;
    width: 80px;
    height: 48px;
    background: #3f8bbc;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-image: none;
    background-image: url(../images/send.png);
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.FooterMainLinks {
    margin: 0;
    padding: 0;
    list-style: none;
}

.FooterMainLinks a {
    display: block;
    position: relative;
    padding: 11px 10px 11px 30px;
    color: #fff !important;
    font-size: 17px;
}

.FooterMainLinks a::before {
    content: "";
    background-image: url(../images/ftr.png);
    width: 12px;
    height: 15px;
    display: inline-block;
    background-size: 100% 100%;
    position: absolute;
    left: 3px;
    top: 16px;
}

.GalleyBox .row .col-md-3 {
    padding: 0px 5px;
    margin-bottom: 5px;
}

.FotterT4 {
    font-size: 20px;
    margin: 15px 0px;
}

.SocialBoxFlex {
    display: flex;
}

.SocialBoxItem a {
    margin: 0px 15px;
}

.SocialBoxItem:first-child a {
    margin-left: 0;
}

.SocialBoxItem a span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: 100% 100%;
}

.SocialIcon.insta {
    background-image: url(../images/instagram.png);
}

.SocialIcon.facebook {
    background-image: url(../images/facebook.png);
    width: 18px;
}

.SocialIcon.inkedin {
    background-image: url(../images/linkedin.png);
}

.SocialIcon.twitter {
    background-image: url(../images/twitter.png);
    width: 30px;
}

.GalleyBox .row .col-md-4 img {
    width: 100%;
}

.CopyRightBox {
    padding: 20px 0px;
    background-color: #707070;
    color: #fff;
}

.CopyRightBox .row a {
    color: #fff !important;
}

.CopyRightBoxUl {
    padding: 0;
    margin: 0;
}

.CopyRightBoxUl li {
    display: inline-block;
}

.CopyRightBoxUl li a {
    display: inline-block;
    margin-right: 10px;
}

button,
textarea,
input {
    box-shadow: none !important;
    outline: none !important;
}

.menudrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 22;
    display: none;
    cursor: pointer;
}

.ActivePanel .menudrop {
    display: block;
}

.SideNav {
    position: fixed;
    right: -200%;
    top: 0;
    width: 500px;
    padding: 60px 70px;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    height: 100%;
    background: #3F8BBC;
    z-index: 99;
    display: flex;
    align-items: center;
    height: 100%;
    transition: 0.4s;
    color: #fff;
}

.ActivePanel .SideNav {
    right: 0;
}

.SideNavContent {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
}

.SideNavContent {
    position: relative;
}

.CloseClick {
    width: 30px;
    position: absolute;
    top: -45px;
    right: -45px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
}

.CloseBtn1 {
    background-image: url(../images/close.png);
    width: 25px;
    height: 25px;
    background-size: 100% 100%;
    display: inline-block;
}

.NavBox {
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}

.NavBox a {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    display: block;
    padding: 7px 0px;
}

.SocialMedia {
    display: flex;
    justify-content: start;
}

.SocialMedia a {
    padding: 10px;
    display: inline-block;
    margin-right: 15px;
}

.SideMenuDescription {
    color: #fff;
    line-height: 1.5;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
    margin-top: 20px;
}

.MenuLogo {
    max-width: 150px;
}

footer .container {
    max-width: 1300px;
}

.LessWrokTogether {
    position: fixed;
    left: 0;
    top: -150%;
    width: 100%;
    height: 100%;
    z-index: 22;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.1);
}

.menudrop1 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 22;
    display: none;
    cursor: pointer;
}

.contactusActive .menudrop1 {
    display: block;
}

.contactusActive .LessWrokTogether {
    top: 0;
}

.LessWrokTogetherBox {
    max-width: 1000px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    z-index: 23;
    padding: 60px;
    border-radius: 30px;
    width: 100%;
}

.AdressFlex {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.AdressFlexLeft {
    flex: 0 0 50px;
    max-width: 50px;
}

.AdressFlexRight {
    flex: auto;
    color: #000;
    font-size: 14px;
}

.AdIcon {
    width: 28px;
    height: 28px;
    background-size: 100% 100%;
}

.AdIcon1 {
    background-image: url(../images/mail.png);
    height: 22px;
}

.AdIcon2 {
    background-image: url(../images/call.png);
}

.AdIcon3 {
    background-image: url(../images/address.png);
}

.AdIcon4 {
    background-image: url(../images/time.png);
}

.MdT1 {
    font-size: 26px;
    position: relative;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.MdT1 .CloseContact {
    background-image: url(../images/back.png);
    width: 45px;
    height: 45px;
    display: inline-block;
    background-size: 100% 100%;
    margin-right: 15px;
    cursor: pointer;
}

.MdT2 {
    color: #000;
    margin-bottom: 30px;
}

.formElement {
    margin-bottom: 15px;
}

.formElement input,
.formElement textarea {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #3F8BBC;
    border-radius: 30px;
    text-transform: capitalize;
}

.formElement textarea {
    height: 120px;
}

.formElement button {
    background-color: #3F8BBC;
    border: 0px solid #e4e4e4;
    border-radius: 30px;
    padding: 10px;
    color: #fff;
    min-width: 140px;
    cursor: pointer;
    text-align: center;
}

.width-100 {
    width: 100%;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

main {
    overflow: hidden;
}

.MainImage {
    object-fit: cover;
}

.mainBanner {
    position: relative;
}

.mainBanner .slick-dots {
    bottom: 40px;
}

.mainBanner .slick-dots li {
    width: 25px;
    height: 3px;

}

.mainBanner .slick-dots li button {
    width: 100%;
    background-color: #e4e4e4;
    margin-right: 10px;
    height: 2px;
    padding: 2px;
    border-radius: 10px;
}

.mainBanner .slick-dots li button::before {
    content: none;
}

.mainBanner .slick-dots li.slick-active {
    width: 50px;
}

.mainBanner .slick-dots li.slick-active button {
    background-color: #fff;
}

.StickHeader header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
}

.StickHeader .HdRightFlex ul li a {
    padding: 30px 20px;
}

.heroBanneritem {
    position: relative;
}

.heroBanneritem:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 139, 188, 0.3);
    z-index: 1;
}

.heroBannerContent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    z-index: 2;
}

.Txt1 {
    font-size: 48px;
    text-transform: capitalize;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 15px;
}

.Txt2 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 15px;
}

.Txt3 {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff !important;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.4s;
    border-radius: 30px;
    border: 2px solid transparent;
}

.hover1:hover {
    background-color: #3F8BBC;
    border: 2px solid #fff;
}

.Txt3:after {
    content: "";
    width: 18px;
    height: 18px;
    background-image: url(../images/forward.png);
    background-size: 100% 100%;
    display: inline-block;
    position: relative;
    margin-left: 5px;
    top: 2px;
}

.Txt4 {
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 20px;
}

.text-uppercase {
    text-transform: uppercase;
}

.theme-color {
    color: #000;
}

.Txt5 {
    line-height: 1.5;
    margin-bottom: 20px;
}

.VideoBox {
    position: relative;
}

.fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 95px;
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
    background-color: #3F8BBC;
}

.fancybox-show-thumbs .fancybox-inner {
    right: 0;
    bottom: 95px;
}

.VideoBox a {
    display: block;
}

.VideoBox a img {
    width: 100%;
    height: 370px;
    object-fit: cover;
}

.VideoPlay {
    width: 70px;
    height: 70px;
    background-image: url(../images/videoplay.png);
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
}

.Txt6 {
    border-left: 3px solid #3F8BBC;
    padding: 5px 20px;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 15px;
}

.full-width {
    width: 100%;
}

.hmSpImg {
    margin-top: 15px;
}

.bg-second {
    background-color: #F1F5F7;
}

.Txt7 {
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    position: relative;
    padding-left: 100px;
}

.Txt7:after {
    content: "";
    width: 60px;
    height: 4px;
    background-color: #3F8BBC;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2px;
}

.Txt8 {
    line-height: 1.5;
    margin-bottom: 20px;
}

.Txt9 {
    background-color: #3F8BBC;
    padding: 15px;
    border-radius: 30px;
    line-height: 1;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    min-width: 175px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid transparent;
}

.hover2 {
    transition: 0.4s;
}

.hover2:hover {
    color: #fff;
    border: 2px solid #fff;
}

.ValueBox {
    margin-top: 30px;
}

.valueItemFlex {
    display: flex;
    background-color: #fff;
    align-items: center;
    margin-bottom: 10px;
}

.valueItemFlexLeft {
    flex: 0 0 120px;
    max-width: 120px;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.valueItemFlexMiddle {
    flex: auto;
    max-width: auto;
    padding: 25px;
}

.valueItemFlexRight {
    flex: 0 0 600px;
    max-width: 600px;
    display: flex;
    justify-content: end;
    padding: 25px;
}

.RoundBox1 {
    background-color: #3F8BBC;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ServiceImage {
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
}

.ServiceImage.ServiceImage1 {
    background-image: url(../images/serviceimages/service1.png);
}

.ServiceImage.ServiceImage2 {
    background-image: url(../images/serviceimages/service2.png);
    width: 33px;
    height: 19px;
}

.ServiceImage.ServiceImage3 {
    background-image: url(../images/serviceimages/service3.png);
    width: 28px;
    height: 27px;
}

.ServiceImage.ServiceImage4 {
    background-image: url(../images/serviceimages/service4.png);
    width: 28px;
    height: 23px;
}

.ServiceImage.ServiceImage5 {
    background-image: url(../images/serviceimages/service5.png);
}

.ServiceImage.ServiceImage6 {
    background-image: url(../images/serviceimages/service6.png);
    height: 19px;
}

.DropDownClick {
    background-image: url(../images/dropdown.png);
    width: 25px;
    height: 13px;
    background-size: 100% 100%;
    display: block;

}

.Drop1 {
    background-color: #F1F5F7;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Txt11 {
    font-size: 22px;
    font-weight: 600;
}

.Txt12 {
    line-height: 1.8;
    margin: 15px 0px;
    display: none;
}

.Txt13 {
    color: #3F8BBC !important;
    display: none;
}

.accordImage {
    display: none !important;
}

.activeAccord .Drop1 {
    display: none !important;
}

.activeAccord .accordImage,
.activeAccord .Txt12,
.activeAccord .Txt13 {
    display: block !important;
}

.activeAccord .valueItemFlexRight {
    padding: 0;
}

.Txt14 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.Txt14::after {
    content: "";
    width: 140px;
    height: 4px;
    background-color: #3F8BBC;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -70px;
}

.Txt15 {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.8;
}

.FinacialPlannerBoxImage {
    margin-bottom: 20px;
}

.spcSec1 {
    background-image: url(../images/abtbg.jpg);
    background-size: cover;
    padding: 100px 0px;
}

.Txt16 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
    color: #fff;
}

.Txt16::after {
    content: "";
    width: 140px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -70px;
}

.Txt17 {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.8;
    color: #fff;
    margin-bottom: 40px;
}

.WHO1Box {
    background-color: #E2E9ED;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: 600;
    font-size: 25px;
    color: #000;
}

.WHO1Img {
    width: 80px;
    height: 80px;
    background-size: 100% 100%;
}

.WHO1Img.t1 {
    background-image: url(../images/serviceimages/t1.png);
}

.WHO1Img.t2 {
    background-image: url(../images/serviceimages/t2.png);
    width: 74px;
}

.WHO1Img.t3 {
    background-image: url(../images/serviceimages/t3.png);
    width: 68px;
}

.WHO1Img.t4 {
    background-image: url(../images/serviceimages/t4.png);
    width: 68px;
}

.WHO1T1 {
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    margin: 15px 0px 10px 0px;
    color: #fff;
}

.WHO1T2 {
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.latestNewsBox {
    background-color: #3F8BBC;
}

.Txt18 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
    color: #fff;
}

.Txt18::after {
    content: "";
    width: 140px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -70px;
}

.Txt19 {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.8;
    color: #fff;
    margin-bottom: 40px;
}

.blogLink1 {
    display: block;
    color: #fff !important;
}

.BlogT1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;
    margin: 10px 0px;
}

.blogAuthor {
    position: relative;
    display: flex;
    align-items: center;
}

.blogAuthor:before {
    content: "";
    width: 12px;
    height: 14px;
    background-image: url(../images/author.png);
    background-size: 100% 100%;
    display: inline-block;
    margin-right: 10px;
}

.blogDate {
    position: relative;
    display: flex;
    align-items: center;
}

.blogDate:before {
    content: "";
    width: 12px;
    height: 12px;
    background-image: url(../images/date.png);
    background-size: 100% 100%;
    display: inline-block;
    margin-right: 10px;
}

.row1 {
    display: flex;
}

.row1 .col1:first-child {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #fff;
}

.BlogT4 {
    line-height: 1.8;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.BlogSt2 {
    color: #fff !important;
    padding-bottom: 15px;
    border-bottom: 1px solid #0F5480;
    display: block;
    margin-bottom: 15px;
}

.BlogSt2 .BlogT1 {
    margin-top: 0;
    font-size: 20px;
    line-height: 1.2;
}

.BlogSt2 .BlogT4 {
    -webkit-line-clamp: 5;
}

.ReadMoreBtn {
    margin-top: 5px;
}

.BlogSt2:last-child {
    border-bottom: 0px solid #fff;
    margin-bottom: 0;
    padding-bottom: 0;
}

.contactBox1 {
    padding-bottom: 0;
}

.Ctxt1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    position: relative;
    padding-left: 100px;
    margin-bottom: 20px;
}

.Ctxt1::after {
    content: "";
    width: 60px;
    height: 4px;
    background-color: #3F8BBC;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2px;
}

.Ctxt2 {
    line-height: 1.8;
    margin-bottom: 30px;
}

.contactBox1 .AdressFlexRight {
    font-size: 15px;
}

.contactBox1 .AdressFlex {
    margin-bottom: 25px;
}

.ContactFromTp1T1 {
    text-transform: capitalize;
    font-size: 23px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}

.ContactFrom1 input,
.ContactFrom1 textarea {
    width: 100%;
    padding: 15px 15px;
    border-radius: 0px !IMPORTANT;
    border: 1px solid #cfcfcf !important;
    text-transform: capitalize;
    color: #656565;
    margin-bottom: 15px;
}

.ContactFrom1 textarea {
    height: 120px;
}

.ContactFrom1 input.SubmitButton {
    background: #3f8bbc;
    color: #fff;
    width: 200px;
    border-radius: 30px !important;
    cursor: pointer;
}

.AccordionItem {
    border: 1px solid #cfcfcf !important;
    margin-bottom: 10px;
    background-color: #fff;
}

.AccordionQstion::after {
    content: "";
    background-image: url(../images/accordionArrow.jpg);
    width: 25px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 15px;
}

.AccordionItem.active .AccordionQstion::after {
    top: 20px;
    right: 8px;
    transform: rotate(180deg);
}

.AccordionQstion {
    padding: 15px;
    padding-right: 15px;
    font-weight: 600;
    color: #000;
    font-size: 18px;
    padding-right: 50px;
    position: relative;
    cursor: pointer;
}

.AccordionAnswer {
    padding: 15px;
    border-top: 1px solid #cfcfcf !important;
    display: none;
}

.AccordionItem.active .AccordionAnswer {
    display: block;
}

.DiscoveryBox {
    padding-top: 160px;
    background-color: #24475D;
    margin-top: -170px;
}

.contactBox2 .container {
    position: relative;
    z-index: 2;
    padding: 0px 40px;
    padding-bottom: 40px;
}

.Dt1 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
    color: #fff;
}

.Dt1::after {
    content: "";
    width: 140px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -70px;
}

.Dt2 {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.8;
    color: #fff;
    margin-bottom: 40px;
}

.Dlink1 {
    color: #fff !important;
}

.Dl1 {
    margin: 15px 0px 15px 0px;
    font-size: 18px;
}

.Dl2 {
    font-size: 20px;
    color: #A7DCFF;
    padding-left: 20px;
    border-left: 3px solid #A7DCFF;
    font-weight: 600;
}

.Dl3 {
    font-size: 18px;
    margin-top: 15px;
}

.BulletTp1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

.BulletTp1 li {
    position: relative;
    padding: 5px 5px 5px 40px;
}

.BulletTp1 li::before {
    content: "";
    width: 10px;
    height: 10px;
    line-height: 1;
    background-color: #3F8BBC;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5px;

}

.GrdStT1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    position: relative;
    padding-left: 100px;
    margin-bottom: 20px;
}

.GrdStT1::after {
    content: "";
    width: 60px;
    height: 4px;
    background-color: #3F8BBC;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2px;
}

.rowSt1 {
    margin-top: 25px;
}

.RowStCnt1 {
    padding: 25px;
    width: 90%;
    margin-left: 5%;
    margin-top: -50px;
    position: relative;
}

.RowSt1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.RowSt2 {
    line-height: 1.5;
    margin-bottom: 15px;
}

.RowSt3 {
    color: #3F8BBC !important;
}

.rowSt1 .col-md-6.mb-30 {
    margin-bottom: 40px;
}

.RowStCnt1Box {
    border-left: 2px solid #3F8BBC;
    padding-left: 25px;
}

.SrTxt1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
}

.SrTxt2 {
    line-height: 1.5;
}

.ServiceHd1 {
    margin-bottom: 40px;
}

.MtTxt1 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    position: relative;
    margin-top: 25px;
}

.MeetTheTeamItemFlex {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.MeetTheTeamItemFlexLeft {
    flex: 0 0 30%;
    max-width: 30%;
    padding: 16px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    padding: 25px;
    position: relative;
}

.MeetTheTeamItemFlexMiddle {
    width: auto;
    flex: auto;
    padding: 25px;
    line-height: 1;
}

.MeetTheTeamItemFlexRight {
    flex: 0 0 150px;
    max-width: 150px;
    padding: 25px;
    line-height: 1;
    justify-content: end;
    text-align: right;
    display: flex;
}

.MeetTheTeamIcon {
    width: 35px;
    height: 35px;
    position: relative;
    background-color: #3F8BBC;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.MeetTheTeamIcon::before {
    content: "+";
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -13px;
    margin-left: -8px;
    display: block;
    pointer-events: none;
}

.TeamDesc {
    padding: 25px;
    display: none;
}

.TeamDesc div {
    margin-bottom: 15px;
}

.TeamDesc div:last-child {
    margin-bottom: 0;
}

.MeetTheTeamItem.active .MeetTheTeamItemFlexLeft::after {
    content: "";
    background-color: #3F8BBC;
    width: 50%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 25px;

}

.MeetTheTeamItem.active .TeamDesc {
    display: block;
}

.MeetTheTeamItem.active .MeetTheTeamIcon::before {
    content: "-";
    margin-left: -5px;
}

.BlogLink1 {
    color: #000 !important;
}

.LatestBlog {
    margin-top: 25px;
}

.blogAuthor1 {
    position: relative;
}

.blogDate1 {
    position: relative;
}

.blogAuthor1::before {
    content: "";
    width: 12px;
    height: 14px;
    background-image: url(../images/owner-black.png);
    background-size: 100% 100%;
    display: inline-block;
    margin-right: 10px;
}

.blogDate1::before {
    content: "";
    width: 12px;
    height: 12px;
    background-image: url(../images/time-black.png);
    background-size: 100% 100%;
    display: inline-block;
    margin-right: 10px;
}

.blogWrap .row1 .col1:first-child {
    border-right: 1px solid #000;
}

.LatestTxt1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.LatestTxt2 {
    line-height: 1.8;
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 18px;
}

.LatestTxt3 {
    color: #3F8BBC;
    font-weight: 500;
    font-size: 18px;
}

.BlogListItemLink {
    display: block;
    color: #656565 !important;
}

.BlogListing {
    margin-top: 25px;
}

.BitLT1 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #656565;
    font-weight: 500;
}

.BitLT2 {
    font-size: 20px;
    color: #A7DCFF;
    padding-left: 20px;
    border-left: 3px solid #A7DCFF;
    font-weight: 600;
    margin: 10px 0px;
}

.BitLT3 {
    font-size: 18px;
    color: #656565;
    position: relative;
    font-weight: 500;
}

.BitLT3::after {
    content: ">>";
    margin-left: 5px;
    display: inline-block;
}

.BlogListing .col-md-4 {
    margin-bottom: 30px;
}

.spcBox2 .Txt15 {
    max-width: 100%;
}

.SpBox1 {
    margin-top: 30px;
}

.SpBox1 .RowStCnt1 {
    padding: 25px;
    width: 120%;
    margin-left: -20%;
    margin-top: 20%;
    position: relative;
}

.OverValuesContent {
    border-left: 3px solid #e4e4e4;
    padding-left: 50px;
}

.OverT1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    position: relative;
    margin-bottom: 25px;
    position: relative;
}

.OverT1::after {
    content: "";
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -52px;
    background-color: #3F8BBC;
}

.OverItemBox {
    margin-bottom: 20px;
    position: relative;
}

.OverItemBox::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #3F8BBC;
    position: absolute;
    top: 7px;
    left: -25px;
    background-color: #3F8BBC;
    display: inline-block;
}

.OverItemBoxT1 {
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 10px;
}

.OverItemBoxT2 {
    font-size: 17px;
}

.halo-sticky-toolbar-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 8;
    box-shadow: 0 0 9px #0000001f;
    transition: transform .6s;
    background: #fff;
    border: 1px solid #fff;
    overflow: hidden;
}

.mobile-only {
    display: none;
}

.bottom-bar {
    padding: 3px 15px;
    min-height: 60px;
}

.bottom-bar--list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
}

.bottom-bar--list li>a {
    padding: 7px 2px;
    display: block;
    pointer-events: auto;
    text-align: center;
    color: #212121;
}

.bottom-bar--list .icon img {
    max-width: 25px;
}

.bottom-bar--list .icon+.text {
    margin-top: 6px;
    line-height: 1;
    font-size: 11px;
}
.Mobile-content{
    display: none;
}
@media only screen and (max-width: 900px) {
    .HdRightFlex ul {
        display: none;
    }

    header {
        padding: 5px 0px;
    }

    .mobile-only {
        display: block;
    }

    .Txt1 {
        font-size: 25px;
    }

    .Txt2 {
        font-size: 16px;
        padding: 0px 15px;
    }

    .Txt3 {
        padding: 7px 15px;
        font-size: 16px;
    }

    .Txt3::after {
        width: 15px;
        height: 15px;
    }

    .MdT2,
    .AddressPort {
        display: none;
    }

    .LessWrokTogetherBox {
        padding: 20px;
        background-color: #000;
    }

    .LessWrokTogether {
        top: auto;
        bottom: 150%;
        background-color: #000;
        z-index: 99;
    }

    .contactusActive .LessWrokTogether {
        top: auto;
        bottom: 0;
    }

    .MdT1 {
        font-size: 20px;
        color: #fff;
    }

    .MdT1 .CloseContact {
        width: 30px;
        height: 30px;
    }

    .formElement {
        margin-bottom: 12px;
        text-align: center;
    }

    .pd-common {
        padding: 25px 0px;
    }

    .Txt4 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    body {
        font-size: 14px;
    }

    .Txt5 {
        line-height: 1.5;
        margin-bottom: 10px;
    }

    .VideoPlay {
        width: 50px;
        height: 50px;
    }

    .Txt6 {
        padding: 3px 20px;
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .Txt7 {
        font-weight: 700;
        font-size: 20px;
        line-height: 1;
        position: relative;
        padding-left: 0;
        margin-bottom: 15px;
        padding-bottom: 15px;
        text-align: center;
        position: relative;
    }

    .Txt7::after {
        content: "";
        width: 140px;
        height: 3px;
        background-color: #3F8BBC;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -70px;
        top: auto;
    }

    .ourValues {
        text-align: center;
    }

    .Txt9 {
        padding: 10px;
    }

    .hmSpImg {
        margin-top: 0;
    }

    .valueItemFlex {
        margin-bottom: 15px;
        flex-wrap: wrap;
    }

    .valueItemFlexLeft {
        padding: 15px;
        flex: 0 0 75px;
        max-width: 75px;
    }

    .RoundBox1 {
        height: 45px;
        width: 45px;
    }

    .ServiceImage {
        width: 20px;
        height: 20px;
    }

    .ServiceImage.ServiceImage2 {
        width: 20px;
        height: 15px;
    }

    .ServiceImage.ServiceImage3 {
        width: 20px;
        height: 20px;
    }
    .ServiceImage.ServiceImage4 {
        width: 22px;
        height: 18px;
      }

    .valueItemFlexMiddle {
        padding: 15px;
        text-align: left;
        flex: auto;
        max-width: auto;
    }

    .Txt11 {
        font-size: 16px;
        font-weight: 600;
      }
      .valueItemFlexRight {
        padding: 15px;
        flex: 0 0 75px;
        max-width: 75px;
      }
      .Drop1{
        width: 45px;
        height: 45px;
      }
      .DropDownClick {
        width: 22px;
        height: 11px;
      }
      .activeAccord .Mobile-content {
        display: block;
        padding: 15px;
        flex: 0 0 100%;
        max-width: 100%;
        padding-top: 0;
      }
      .activeAccord .accordImage, .activeAccord .Txt12, .activeAccord .Txt13 {
        display: none !important;
      }
      .activeAccord .Mobile-content .accordImage, 
      .activeAccord .Mobile-content .Txt12, 
      .activeAccord .Mobile-content .Txt13 {
        display: block !important;
      }
      .activeAccord .Drop1 {
        display: flex !important;
        transform: rotate(180deg);
      }
      .activeAccord .valueItemFlexRight {
        padding: 15px;
      }
      .Txt12 {
        margin-top: 0;
        margin-bottom: 10px;
      }
      .Txt13{
        margin-bottom: 10px;
      }
      .Txt14{
        font-size: 20px;
        padding-bottom: 15px;
        margin-bottom: 15px;
        line-height: 1.5;
      }
      br{
        display: none;
      }
      .Txt14::after{
height: 3px;
      }
      .Txt15{
        line-height: 1.5;
      }
      .FinacialPlannerBoxImage {
        margin-bottom: 20px;
        margin: 0;
        padding: 0px 15px;
      }
      .Txt16 {
        font-size: 20px;
        line-height: 1.5;
        padding-bottom: 15px;
        margin-bottom: 15px;
      }
      .spcSec1 .row .col-md-3{
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 15px;
      }
      .Txt17{
        line-height: 1.5;
        margin-bottom: 20px;
      }
      .WHO1Box{
        height: 100px;
width: 100px;
      }
      .WHO1Img {
        width: 50px;
        height: 50px;
      }
      .WHO1Img.t2 {
        width: 53px;
      }
      .WHO1Img.t3 {
        width: 45px;
      }
      .WHO1Img.t4 {
        width: 52px;
      }
      .WHO1T1 {
        font-size: 35px;
        margin: 10px 0px 7px 0px;
      }
      .WHO1T2 {
        font-size: 18px;
      }
      .Txt18{
        font-size: 20px;
        padding-bottom: 15px;
        margin-bottom: 15px;
      }
      .Txt18::after {
        height: 3px;
      }
      .Txt19{
        line-height: 1.5;
        margin-bottom: 20px;
      }
      .DiscoveryBox {
        margin-top: 0;
      }
      .BlogT1{
        font-size: 17px;
      }
      .blogLink1{
        margin-bottom: 15px;
      }
      .BlogSt2 .BlogT1{
        font-size: 17px;
        margin-top: 10px;
      }
      .Ctxt1 {
        font-size: 20px;
        padding-bottom: 15px;
        margin-bottom: 15px;
        padding-left: 0;
        position: relative;
        text-align: center;
      }
      .Ctxt1::after {
        content: "";
width: 140px;
height: 3px;
background-color: #3F8BBC;
position: absolute;
bottom: 0;
left: 50%;
margin-left: -70px;
top: auto;
      }
      .Ctxt2 {
        line-height: 1.5;
        margin-bottom: 15px;
        text-align: center;
      }
      .contactBox2 .container {
        padding: 0px 15px;
        padding-bottom: 0px;
      }
      .ContactFromTp1T1{
        font-size: 20px;
        text-align: center;
      }
      .ContactFrom1 input, .ContactFrom1 textarea{
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px !important;
      }
      .ContactFrom1{
        text-align: center;
      }
      .contactBox2{
       
      }
      .AccordionQstion{
        padding: 10px;
        font-size: 15px;
      }
      .AccordionQstion::after {
        top: 5px;
      }
      .AccordionItem.active .AccordionQstion::after {
        top: 15px;
      }
      .Dt1{
        font-size: 20px;
        padding-bottom: 15px;
        margin-bottom: 15px;
      }
      .Dt1::after{
        height: 3px;
      }
      .Dt2{
        line-height: 1.5;
        margin-bottom: 15px;
      }
      .Dlink1 {
        margin-bottom: 20px;
        display: block;
      }
      .Dl1 {
        margin: 10px 0px 10px 0px;
        font-size: 15px;
      }
      .Dl3 {
        font-size: 15px;
        margin-top: 10px;
      }
      .Dl2 {
        font-size: 16px;
      }
      .FotterT1 {
        font-size: 16px;
        margin-bottom: 15px;
        margin-top: 15px;
      }
      .GalleyBox .row{
        align-items: center;
        justify-content: center;
      }
      .GalleyBox .col-md-3{
        flex: 0 0 33.33%;
        max-width: 33.33%;
        margin-bottom: 15px;
      }
      .SocialBoxFlex {
        justify-content: center;
      }
      .FotterT4 {
        font-size: 18px;
        margin: 10px 0px;
        text-align: center;
        margin-bottom: 15px;
      }
      .Newsletter form input{
        padding: 10px;
      }
      .Newsletter form button{
        height: 40px;
      }
      .Newsletter {
        margin-bottom: 20px;
      }
        
    .GrdStT1::after{
        width: 45px;
    }
    .GrdStT1{
       font-size: 18px;
       padding-left: 55px;
       margin-bottom: 15px;
    }
    .GrdSt1  .Txt9{
        margin-bottom: 20px;
    }
    .RowStCnt1 {
        padding: 15px;
    }
    .RowStCnt1Box {
        padding-left: 15px;
      }
      .RowSt1 {
        font-size: 16px;
        margin-bottom: 5px;
      }
      .RowSt2 {
        margin-bottom: 10px;
      }
      .SrTxt1 {
        font-size: 20px;
        margin-bottom: 10px;
      }
      .ServiceHd1 {
        margin-bottom: 10px;
      }
      .rowSt1 {
        margin-top: 10px;
      }
      .MtTxt1 {
        font-size: 20px;
        margin-top: 15px;
      }
      .MeetTheTeamItemFlexLeft {
        flex: 0 0 35%;
        max-width: 35%;
        padding: 15px;
        font-size: 16px;
      }
      .MeetTheTeamItemFlexRight {
        flex: 0 0 70px;
        max-width: 70px;
        padding: 15px;
        justify-content: center;
      }
      .MeetTheTeamItemFlexMiddle{
        font-size: 15px;
        padding: 15px 10px;
      }
      .TeamDesc {
        padding: 15px;
      }
      .LatestTxt1 {
        font-weight: 700;
        font-size: 17px;
        line-height: 1.5;
        margin-bottom: 10px;
        margin-top: 10px;
      }
      .LatestTxt2 {
        line-height: 1.5;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 16px;
      }
      .LatestTxt3 {
        font-size: 15px;
      }
      .BlogListing {
        margin-top: 15px;
      }
      .BitLT1 {
        margin: 10px 0px 10px 0px;
        font-size: 15px;
      }
      .BitLT2{
        font-size: 16px;
      }
      .BitLT3 {
        font-size: 15px;
      }
      .BlogListing .col-md-4 {
        margin-bottom: 15px;
      }
      .SpBox1 .RowStCnt1 {
        padding: 15px;
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        position: relative;
      }
      .OverT1{
        font-size: 20px;
        margin-bottom: 15px;
      }
      .OverItemBoxT1 {
        font-size: 16px;
        margin-bottom: 5px;
      }
      .OverItemBoxT2 {
        font-size: 15px;
      }
      .OverItemBox {
        margin-bottom: 15px;
      }
      .OverValuesContent {
        padding-left: 40px;
      }
      .OverT1::after{
        left: -43px;
      }
}